doctype html
html()
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title test
  body() 
    .left-pane()
    div#content.right-pane()
    script(src="./app.js", type="text/javascript")
